/*General*/

body {
	background-color: #b7bfc7;
}

a:link, a:visited {
	text-decoration: none;
	color: black;
}
a:hover, a:active {
	color: white;
}

img {
	max-width: 100%;
}


/*Header*/

.header {
	text-align: left;
}


/*Index*/

.nav {
	margin: 20px 0;
	padding: 20px 0;
	text-align: center;
}


/*History*/

.history {
	margin: 20px 5% auto;
	padding: 20px 0;
	text-align: center;
}

.quote {
	font-size: 3em;
	font: bold;
	margin-right: 10%;
	margin-left: 10%;
	border-bottom-style: solid;
	border-color: #303030;
	padding-bottom: 20px;
}


/*Info*/

.info {
	margin: 20px 5% auto;
	padding: 20px 0;
	text-align: center;	
}

.info img {
	max-width: 25%;
}

.spots {
	margin :20px 5% auto;
	padding: 20px 0;

}

.spots img {
	max-width: 50%;
}

.first {
	float: left;
}

.bonus {
	float: right;
}






